body {
    font-family: Arial, sans-serif;
}

.card {
    border: 1px solid #0004;
    padding: 10px;
    margin: 10px 0;
    justify-content: center center;
}
.card2{
    display: flex;
}
button {
    margin-top: 5px;
}